---
- name: "Disable selinux temporarily by using setenforce 0"
  shell: setenforce 0 || true

- name: "Modify /etc/selinux/config file disable selinux"
  replace:
    path: /etc/sysconfig/selinux
    regexp: SELINUX=enforcing
    replace: SELINUX=disabled